In [5]:
import pandas as pd
import pycountry
import numpy as np
tsv_data = pd.read_csv('countries-countries-fb-social-connectedness-index-october-2021.tsv', sep="\t",keep_default_na=False)
tsv_data['scaled_sci'] = tsv_data['scaled_sci'].astype(int)
tsv_data.to_csv('FB_INDEX.csv', index=False)
countries = {}
for country in pycountry.countries:
    countries[country.alpha_2] = country.name

input_usr_countries = tsv_data["user_loc"]
input_fr_countries = tsv_data["fr_loc"]

usr= [countries.get(country, 'Unknown code') for country in input_usr_countries]
fr= [countries.get(country, 'Unknown code') for country in input_fr_countries]
df_usr = pd.DataFrame()
df_fr = pd.DataFrame()
df_usr['user_loc_name'] = usr
df_fr['fr_loc_name'] = fr
tsv_data_names=pd.concat([tsv_data,df_usr,df_fr], axis=1)
tsv_data_names.to_csv('FB_INDEX_NAMES.csv', index=False, encoding='utf-8')
tsv_data.to_pickle("database_file.pkl")
tsv_data_names.to_pickle("database_file_names.pkl")

In [8]:

triu = tsv_data.pivot(index='user_loc', columns='fr_loc', values='scaled_sci')
triu

fr_loc,AE,AG,AL,AM,AO,AR,AT,AU,AW,AZ,...,UZ,VC,VN,VU,WS,XK,YT,ZA,ZM,ZW
user_loc,,,,,,,,,,,,,,,,,,,,,
AE,1117179,5488,2101,3580,2326,737,4558,11931,3359,2948,...,5155,2606,1440,1045,1496,1863,5184,6344,4398,20620
AG,5488,856956149,641,360,4539,836,3522,3514,174684,505,...,205,11065040,190,3942,3001,556,12445,2955,7549,4962
AL,2101,641,14884656,896,689,574,19997,2268,910,1300,...,555,549,158,167,216,1010020,215,331,724,369
AM,3580,360,896,15755579,298,631,6442,1277,269,158036,...,6464,375,85,167,85,776,97,113,252,182
AO,2326,4539,689,298,16815996,1235,639,291,1214,910,...,493,3876,733,1795,889,641,5804,23587,28759,11986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XK,1863,556,1010020,776,641,369,113697,1865,728,1416,...,540,421,97,108,171,32089947,143,261,596,262
YT,5184,12445,215,97,5804,198,508,477,1267,154,...,87,6025,147,22435,2598,143,189088793,4262,9543,1650
ZA,6344,2955,331,113,23587,250,885,4001,700,273,...,178,3221,198,605,571,261,4262,2022262,61516,366466
ZM,4398,7549,724,252,28759,369,620,2290,743,1075,...,637,8183,304,2054,1441,596,9543,61516,24759524,196035
ZW,20620,4962,369,182,11986,192,994,13012,473,543,...,287,4806,185,1008,1138,262,1650,366466,196035,20247600

In [ ]:
# tsv_data['user_loc_name'] = ""
# tsv_data['fr_loc_name'] = ""
# for country in range(0,len(tsv_data['user_loc'])):
#     try:
#         tsv_data['user_loc_name'][country] = pycountry.countries.lookup(tsv_data['user_loc'][country]).name
#     except:
#         tsv_data['user_loc_name'][country] = "Exclude"
# for country in range(0,len(tsv_data['fr_loc'])):
#     try:
#         tsv_data['fr_loc_name'][country] = pycountry.countries.lookup(tsv_data['fr_loc'][country]).name
#     except:
#         tsv_data['fr_loc_name'][country] = "Exclude"

In [16]:
# print(pycountry.countries.lookup(tsv_data['user_loc'][0]).name)

United Arab Emirates

In [33]:
# tsv_data_1 = pd.read_csv('countries-countries-fb-social-connectedness-index-october-2021.tsv', sep="\t")

In [8]:
# countries = {}
# for country in pycountry.countries:
#     countries[country.alpha_2] = country.name
#
# tsv_data['user_loc_name'] = ""
# tsv_data['fr_loc_name'] = ""
#
# input_usr_countries = tsv_data["user_loc"]
# input_fr_countries = tsv_data["fr_loc"]
#
# usr= [countries.get(country, 'Unknown code') for country in input_usr_countries]
# fr= [countries.get(country, 'Unknown code') for country in input_fr_countries]

In [9]:
# df_usr=df_fr = pd.DataFrame()
# df_usr['user_loc_name'] = usr
# df_fr['fr_loc_name'] = fr
#

In [10]:
# tsv_data=pd.concat([tsv_data,df_usr,df_fr], axis=1)